@media (max-width: 480px) {
    .container {
      background-image: url("../public/destination/background-destination-mobile.jpg");
      background-size: cover;
    }
    .content {
        padding: 5%;
        text-align: center;
      }
  }
  
  @media (min-width: 481px) and (max-width: 1024px) {
    .container {
      background-image: url("../public/destination/background-destination-tablet.jpg");
      background-size: cover;
    }

    .content {
        padding: 5%;
        text-align: center;
      }
  }
  
  @media (min-width: 1025px) {
    .container {
      background-image: url("../public/destination/background-destination-desktop.jpg");
      background-size: cover;
    }

    .content {
    padding: 5em;
      max-width: 40em;
      float: left;
    }
  }

  .wrapper {
    display: inline-block;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
  }
  

.nav {
    position:relative;
    height: 90px;
    background: transparent;
    color: #D0D6F9;
    display: flex;
    justify-content: flex-start;
}

.nav ul {
    height: 50px;
    display: flex;
    list-style: none;
}

.nav ul li a {
    margin: 1.5rem;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
}

.nav ul li a:active {
    color: white;
    border-bottom: 3px white solid;
}

.nav ul li a:hover {
    border-bottom: 3px #a39f9f solid;
}

.sub1 {
    text-transform: uppercase;
    font-family:  "Bellefair", serif;
  font-size: 28px;
  color: white;
}

.sub2 {
    text-transform: uppercase;
    font-family:  "Barlow Condensed", sans-serif;
  font-size: 14px;
  letter-spacing: 2.35px;
  color: #D0D6F9;
}

.p {
    font-family: "Barlow", sans-serif;
    color: #D0D6F9;
  }

.hr {
    border-top: 0.01px solid rgb(151, 149, 149);
    color: transparent;
}

.h5 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 28px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4.75px;
  }

.h5 strong {
    color: #a39f9f;
}